h1 {
    font-size: 64px;
    margin: 30px 0 20px 0;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.center-text {
    text-align: center;
}

.madlib-form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input + input {
    margin-bottom: 10px;
}

button.button-madlib {
    height: 40px;
}