h1 {
    font-size: 64px;
    margin: 30px 0 20px 0;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.center-text {
    text-align: center;
}

.madlib-form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin-bottom: 10px;
}

input:nth-last-of-type(input) {
    margin-bottom: 0;
}
.button-madlib {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
}